<!DOCTYPE html>
<html ng-app="RequisitionApp">
<head>
  <meta charset="UTF-8">
  <title>InfoList</title>
  <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="css/InfoList.css" rel='stylesheet' type='text/css' />
<style>
  #itemspan {
    -ms-grid-row:2,
    -ms-grid-column:1,
    -ms-grid-column-span:2
  }
</style>
</head>
<body ng-controller="RequisitionController">
<hgroup>
  <h1>This InfoList Page</h1>
</hgroup>
<table class="table table-striped">
<tr>
  <td>SRNo</td>
  <td>RequestDate</td>
  <td>ShopName</td>
  <td>Email</td>
  <td>ContactNumber</td>
</tr>
<tr ng-repeat="record in pageContent">
  <td>{{record.SRNo}}</td>
  <td>{{record.RequestDate}}</td>
  <td>{{record.ShopName}}</td>
  <td>{{record.Email}}</td>
  <td>{{record.ContactNumber}}</td>
  <td type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" ng-click="bindDataEdit(this)">Edit</td>
  <td type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"> Delete</td>
</tr>
</table>
<div class="text-center">
<ul class="pagination">
  <li><div class="PagePre" ng-click="PrePage()">-</div></li>
  <li ng-repeat="index in pageUnderIndex"  ng-class="{active: index == currentPage}"  ng-click="GetRequisitionByIndex(this)"><a href="">{{index}}</a></li>
  <li><div class="PageNext" ng-click="NextPage()">+</div></li>
</ul>
</div>
<button class="btn" ng-click="CreateNewRequisition()">post</button>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">InfoList</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label class="control-label">SRNo: {{editModel.SRNo}}</label>
          </div>
          <div class="form-group">
            <label class="control-label">RequestDate:</label>
            <input type="text" class="form-control" ng-model="editModel.RequestDate">
          </div>
          <div class="form-group">
            <label class="control-label">ShopName:</label>
            <input type="text" class="form-control"  ng-model="editModel.ShopName">
          </div>
          <div class="form-group">
            <label class="control-label">Email:</label>
            <input type="text" class="form-control"  ng-model="editModel.Email">
          </div>
          <div class="form-group">
            <label class="control-label">ContactNumber:</label>
            <input type="text" class="form-control"  ng-model="editModel.ContactNumber">
          </div>
      </div>
      <div class="modal-footer">
        <label ng-bind="status"></label>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <button class="btn btn-success" ng-click="EditRecord(this)">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">InfoList</h4>
      </div>
      <div class="modal-body">
          <div class="text-danger">清输入你要删除的SRNo然后单击“DELETE”</div>
          <input type="text" ng-model="SRNo" class="form-control" ng-change="SRNoValidator(this)"/>
      </div>
      <div class="modal-footer">
        <label ng-bind="matchStatus"></label>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <button class="btn btn-success" ng-click="DeleteRecord(this)">Delete</button>
      </div>
    </div>
  </div>
</div>


<script src="https://code.angularjs.org/1.5.7/angular.js"></script>
<!-- <script src="js/angular.js"></script> -->
<script src="js/jquery.js"></script>
<script src="js/InfoList.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
