<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

  <connectionStrings>
    <add name="WestCoastPlazaEntities" connectionString="metadata=res://*/WestCoast.csdl|res://*/WestCoast.ssdl|res://*/WestCoast.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-20151003AFIZ;initial catalog=WestCoastPlaza;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>